a {
  font-weight: 600;
  color: #7b285e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: #eeeeee;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #aaaaaa;
  line-height: 1.5;
}
nav {
  background-color: #393939;
  height: 4em;
}
nav a {
  color: #fff;
  font-weight: normal;
}
nav ol {
  margin: 0;
  padding: 0;
  text-align: right;
}
nav li {
  padding: 0;
  list-style-type: none;
  display: inline;
}
nav li:first-child {
  float: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  color: #393939;
}
