{% extends "base.html" %}

{% load assets %}

{% block content %}

{% include "includes/global_nav.html" %}

<section class="intro">
	<h1>100 Shapes blog posts</h2>
</section>

<section class="posts">
	{% for post in posts %}
		<img src="{{ post.thumbnail_url }}">
		<h2><a href="{% url blog %}{{post.name}}/">{{post.title}}</a></h2>
		<p class="meta">{{post.date}}</p>
	{% endfor %}
</section>
	
{% endblock content %}

{% block styles %}
	{% assets "css_base", "css_blog" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock styles %}

{% block pageTitle %}Blog{% endblock pageTitle %}

{% block description %}Blog Archive{% endblock description %}

{% block pageClass %}blog blog-archive{% endblock pageClass %}
