{% extends "base.html" %}
{% load assets %}

{% block content %}

{% include "includes/global_nav.html" %}

<div class="intro" </div>
	<h1>{{ post.title }}</h1>
	<h4>Posted by <span class="fn">{{ post.author }}</span> on <span class="published">{{ post.date|date:"jS F Y" }}</span></h4>
</div>

<section class="content">
	<article>
	<h2>{{ post.subtitle }}</h2>

	<section role="main">
	{{ post.content|safe}}
	</section>

	<footer role="complementary">
	
	</footer>
	</article>

</section>

{% endblock %}

{% block pageTitle %}
	{{ post.title }}
{% endblock pageTitle %}

{% block styles %}
	{% assets "css_base", "css_blog" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock styles %}

{% block author %}{{ post.author_name }}{% endblock author %}

{% block description %}{{ post.description }}{% endblock description %}

{% block pageClass %}blog blog-post{% endblock pageClass %}

