Django==1.4.2
Fabric==1.5.1
Markdown==2.2.1
boto==2.6.0
django-bakery==0.2.1
django-staticblog==0.2.5
django-storages==1.1.5
html2text==3.200.3
paramiko==1.9.0
pycrypto==2.6
wsgiref==0.1.2
git+git://github.com/100Shapes/ghp-import.git
