@import "vars";

.about {
	header {
		background-image: url("../img/header-about.jpg");
		.content-panel {
			.column(4);
			margin-top: @ws-unit*10;
		}
	}

	h3 {
		font-size: 24px;
		color: @header-color-pink;
	}

	p {
		font-size: 14px;
		line-height: 26px
	}

	section {
		.column(8);
		margin-bottom: @ws-unit*7;
	}

	header, .promo-box {
		
		.cover();
		background-color: black;
		position: relative;
		
		img {
			min-height: 100%;
			min-width: 100%;
			position: absolute;
			top: 0;
		}

		p {
			color: white;
		}

		.container {
			position: relative;
			z-index: 2;
		}

		.content-panel {
			margin-bottom: @ws-unit*9;
		}
	}

	.content {
		margin-top: @ws-unit*4;
		margin-bottom: @ws-unit*7;

		.columns {
			margin-bottom: @ws-unit*7;
			clear:both;
			section {
				.column(3);
			}
		}
	}

	.promo-box {
		background-image: url("../img/footer-about.jpg");
		padding: @ws-unit*4 0;
		
		.content-panel {		
			.column(3);
			.push(8);
			text-align: right;

			h2{
				color: white;
			}
		
			img {
				min-height: 0;
				min-width: 0;
				position: static;
				top: 0;
			}
		}	
	}
	@media (min-width: 768px) and (max-width: 979px) {
		header{
			.content-panel {
				.column(4);
				.push(1);
				margin-top: @ws-unit*8;
				margin-bottom: @ws-unit*8;
					
			}
		}

		section {
			.column(10);
			.push(1);
			margin-bottom: @ws-unit*1.5;
		}

		.content {
			.columns {
				.column(10);
				.push(1);
				margin-bottom: @ws-unit*5;
				
				.do_rows {
					.row(10);
					
					section {
						.column(5,10);
						padding-top: @ws-unit*1.5;
					}
				}
			}
		}

		.promo-box {
			.content-panel {		
				.column(6);
				.push(5);
			}
		}
	}


	// Responsive: Landscape phone to desktop/tablet
	@media (max-width: 767px) {
		header{
			.content-panel {
				.column(10);
				.push(1);
				margin-top: @ws-unit*8;
				margin-bottom: @ws-unit*8;
					
			}
		}

		section {
			.column(10);
			.push(1);
			margin-bottom: @ws-unit*1.5;
		}
		.content {
			.columns {
				margin-bottom: @ws-unit*5;
				section {
					padding-top: @ws-unit*1.5;
					.column(10);
					.push(1);
				}
			}
		}

		.promo-box {
			background-position: -70px;
			.content-panel {		
				.column(10);
				.push(1);
			}
		}
	}

	// UP TO LANDSCAPE PHONE
	// ---------------------
	@media (max-width: 480px) {
		header{
			.content-panel {
				.column(10);
				.push(1);
				margin-top: @ws-unit*8;
				margin-bottom: @ws-unit*8;
			}
		}

		section {
			.column(10);
			.push(1);
			margin-bottom: @ws-unit*1.5;
		}
		.content {
			.columns {
				margin-bottom: @ws-unit*5;
				section {
					padding-top: @ws-unit*1.5;
					.column(10);
					.push(1);
				}
			}
		}

		.promo-box {
			background-position: -270px;
			.content-panel {		
				.column(10);
				.push(1);
			}
		}
	}
}