@charset "utf-8";
@import "vars";

@section-height: 850px;

.home {

	height: 100%;

	h1 {
		margin-top: @ws-unit*14;
		display: none;
	}

	h2 {
		color: #fff;
		font-size: 48px;
		font-weight: normal;
		margin: 18px 0;
	}

	h3 {
		color: #fff;
	}

	h4 {
		color: #999;
		font-size: 24px;
		font-weight: @light;
		padding-right:20px;
	}

	p {
		color: #fff;
		line-height: 24px;
		font-size: 14px;
		font-weight: 100;

	}

	.banner {
		//.transition(0.2s);
		z-index: 1;
		position: fixed;
		width: 100%;
		height: 100px;

		.nav-logo .logo {
		//	.transition;
			.opacity(1);
		}
		.nav-logo .tagline {
		//	.transition;
			.opacity(1);
			color: #fff;
		}

		&.transparent {

			background-color: transparent;
			background-image: url('../img/nav_background.png');
			border-bottom: none;

			a {
				.opacity(1);
				color: @header-color-pink;

				&:hover {
					.opacity(1);					
				}
			}

			.nav-logo .logo {
				.opacity(1);
				background-position: 0px -1px;
			}
			.nav-logo .tagline {
				.opacity(0.6);
			}
		}
	}

	footer {
		margin: 0 0 @ws-unit*6;	
	}

	.carousel {
		position:absolute;
	    top:0;
   		left:0;
   		width:100%;
    	height:100%;
		z-index: 0;

			
		.item {
			display: none;
			position: relative;
			height: 100%;
			-webkit-transform: translate3d(0,0,0);
			-webkit-transition: 1s cubic-bezier(0,0,0,.99) left;
			-moz-transition: 1s cubic-bezier(0,0,0,.99) left;
			-o-transition: 1s cubic-bezier(0,0,0,.99) left;
			transition: 1s cubic-bezier(0,0,0,.99) left;
		}
		.item > img {
			display: block;
		 	line-height: 1;
		}
		
		.active, .next, .prev {
			display: block;
			
		}
		
		.active {
			left: 0;
		}
		
		.next, .prev {
			position: absolute;
			top: 0;
			width: 100%;
		}

		.next {
			left: 100%;
		}
		
		.prev {
			left: -100%;
		}
		
		.next.left, .prev.right {
			left: 0;
			background-image: none;
		}
		
		.active.left {
			left: -100%;
			background-image: none;
		}
		
		.active.right {
			left: 100%;
			background-image: none;
		}
	}

	.carousel-inner {
	 	overflow: hidden;
		width: 100%;
		height: 100%;
		position: relative;
	
	}
	.carousel-nav {
		margin: -@ws-unit*2 auto 0 auto;
		width: 17*3px;

		 a {
			.rounded(2px);
			.opacity(.5);
			width: 12px;
			height: 12px;
			background-color: @header-color-light;
			text-indent: -9999px;
			float: left;
			margin-left: @ws-unit/4;

			&.active {
				background-color: @header-color-pink;
			}
		}
	}

	.content-panel {
		.column(4);
		margin-top:300px;
		position: relative;

	}


	.intro {
		text-align: center;
		background-color: #000;

		.back {
			.opacity(.0);
			.cover();
			height: 100%;
			background-image: url("../img/top.jpg");
		}

		#logo {
			margin-bottom: @ws-unit;	
		}
		.content-panel {
			width: 220px;
			top: 50%;
			left: 50%;
			margin: -35px 0 0 -110px;
			position: absolute
		}

		&.loaded {
			.back {
				.transition(2s);
				.opacity(1);
			}
		}
	}

	.moo {
		.cover();
		background-image: none;

		.content-panel {
			text-align: right;
		}

		&.loaded {
			background-image: url("../img/moo.jpg");
		}
	}

	.about-us {
		.cover();
		background-image: none;

		.content-panel {

		}

		&.loaded {
			background-image: url("../img/header-about.jpg");
		}
	}

	.contact {

		padding-top: @ws-unit*10;
		
		.text {
			.column(4);
			.push(2);
			float: left;
		}

		h2 {
			.column(6);
			.push(2);
		}

		p {
			margin: 0;

		}

		.email {
			.opacity(.8);
			color: @header-color-pink;
			font-size: 24px;
			font-family: @font-family-headings;
			font-weight: @regular;
			padding-top:17px;
			text-align: left;
			margin: 0px;
			
			&:hover {
				.opacity(1);
				text-decoration: none;
			}
		}

		.buttons {
			.column(5);
		}
		
		.primary-btn {
			.opacity(1);
			margin-top:5px;
			width: 140px;
			height: 40px;
			padding: 100px 0 0 0;
			background-color: #DCDCDC;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			font-family: @font-family-copy;
			font-size: 14px;
			display: inline-block;
			text-align: center;

			span {
				.opacity(0);
				padding: 0;
				color: #fff;
			
			}

			&:hover{
				background-color: @header-color-pink;
				span {
					.opacity(1)
			
				}
			}
			
			&.facebook{
				background-image: url('../img/facebook_icon_dark.png');
				
				&:hover{
					background-image: url('../img/facebook_icon.png');
				}
			}

			&.twitter{
				background-image: url('../img/twitter_icon_dark.png');
			
				&:hover{
					background-image: url('../img/twitter_icon.png');
				}
			}
		}
	}

	@media (min-width: 768px) and (max-width: 979px) {
		.content-panel {
		.push(1);
		margin-top:200px;
		}
	}

	// Responsive: Landscape phone to desktop/tablet
	@media (max-width: 767px) {
		.content-panel {
		.column(10);
		.push(1);
		margin-top:100px;
		}

	}

	// UP TO LANDSCAPE PHONE
	// ---------------------
	@media (max-width: 480px) {
		.content-panel {
		.column(10);
		.push(1);
		margin-top:100px;
	}

	}

}