@import "vars";

@section-height: 850px;

.home {

	h1 {
		margin-top: @ws-unit*14;
		display: none;
	}

	h2 {
		color: #c47382;
		text-align: left;
		font-size: 48px;
		font-weight: normal;
		margin: 18px 0;
	}

	h3 {
		color: #fff;
	}

	h4 {
		color: #999;
		font-size: 24px;
		font-weight: @light;
		padding-right:20px;
	}

	p {
		color: #999;
		line-height: 24px;
		font-size: 14px;
		font-weight: 100;

	}

	section {
		padding-top: @ws-unit*12;
		padding-bottom: @ws-unit*12;
	}

	nav {
		.transition(0.2s);
		z-index: 999;
		background-color: transparent;
		position: fixed;
		width: 100%;
		border-bottom-style: none;
			
		a {
			.transition(0.2s);
			color: #fff;
		}

		.nav-logo {
			width: 90px;
			height: 27px;
			margin-top: -2px;
			background-image: url('../img/logo_small_sprite.png');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			display: block;

			&.pink {
				background-position: 0px -50px;
			}

			span {
				display: none;
			}
		}
	}

	footer {
		margin: 0 0 @ws-unit*6;
	
	}

	.content-panel {
		.column(6);
		.push(3);
	}	

	.email {
		display: block;
		color: #fff;
		margin-top:40px;
		text-align: center;
	}

	.intro {
		.cover;
		padding-bottom: @ws-unit*20;
		background-image: url('../img/top.jpg');
		text-align: center;
		
		p {
			color: #fff;
			font-size: 16px;
			margin: 15px 0 20px 0;
		}
	}

	.about {
		background-color: #eee;
		padding: @ws-unit*12 0;
		
		h4 {
			float: left;
			margin: 0;
		}
	}

	.work {
		padding: 0;

		.carousel {
			z-index: 0;
			position: relative;

			.item {
				display: none;
				position: relative;
				-webkit-transition: 0.6s ease-in-out left;
				-moz-transition: 0.6s ease-in-out left;
				-o-transition: 0.6s ease-in-out left;
				transition: 0.6s ease-in-out left;
			}
			.item > img {
			  display: block;
			  line-height: 1;
			}
			
			.active, .next, .prev {
			  display: block;
			}
			
			.active {
			  left: 0;
			}
			
			.next, .prev {
			  position: absolute;
			  top: 0;
			  width: 100%;
			}

			.next {
			  left: 100%;
			}
			
			.prev {
			  left: -100%;
			}
			
			.next.left, .prev.right {
			  left: 0;
			}
			
			.active.left {
			  left: -100%;
			}
			
			.active.right {
			  left: 100%;
			}
		}
		.carousel-inner {
		 	overflow: hidden;
			width: 100%;
			position: relative;
		
		}
		.carousel-control {
			.opacity(0.5);
			position: absolute;
			top: 50%;
			left: 15px;
			width: 40px;
			height: 40px;
			margin-top: -20px;
			font-size: 45px;
			font-weight: 100;
			line-height: 30px;
			color: #ffffff;
			text-align: center;
		  
			&.right {
				left: auto;
				right: 15px;
			}
			
			&:hover {
				.opacity(0.9);
				color: #ffffff;
				text-decoration: none;
			}
		}
		
		h2 {
			color: #fff;
			margin-top: 0;
		}

		p {
			color: #fff;
		}

		.content-panel {
			.column(4);
		}

		.about-us {
			.cover();
			background-image: url("../img/header-about.jpg");
			padding: @ws-unit*10 0;
			
		}

		.moo {
			.cover;
			background-image: url('../img/moo.jpg');
			padding: @ws-unit*10 0;
			
		}

	}

	.contact {

		padding-top: 250px;
		
		.content-panel {
			.column(8);
			.push(2);
		}
		
		.text{
			width: 300px;
			float: left;
		}

		p {
			margin: 0;

		}

		.email {
			.opacity(.8);
			color: @header-color-pink;
			font-size: 24px;
			font-family: @font-family-headings;
			font-weight: @regular;
			padding-top:17px;
			text-align: left;
			margin: 0px;
			
			&:hover{
				.opacity(1);
				text-decoration: none;
			}
		}
		
		.primary-btn {
			.opacity(1);
			margin:5px 0 0 18px;
			width: 140px;
			height: 40px;
			padding: 100px 0 0 0;
			background-color: #DCDCDC;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			font-family: @font-family-copy;
			font-size: 14px;
			display: inline-block;
			text-align: center;

			span {
				.opacity(0);
				padding: 0;
				color: #fff;
			
			}

			&:hover{
				background-color: @header-color-pink;
				span {
					.opacity(1)
			
				}
			}
			
			&.facebook{
				background-image: url('../img/facebook_icon_dark.png');
				
				&:hover{
					background-image: url('../img/facebook_icon.png');
				}
			}

			&.twitter{
				background-image: url('../img/twitter_icon_dark.png');
			
				&:hover{
					background-image: url('../img/twitter_icon.png');
				}
			}
		}
	}
}