{% extends "base.html" %}
{% load assets %}


{% block pageDescription %}100Shapes{% endblock %}

{% block content %}

{% include "includes/global_nav.html" %}

<section class="intro" id="intro">
	<div class="container">
		<div class="content-panel">
			<img src="{{ STATIC_URL }}img/100shapes.png"></img>
			<p>We turn good ideas into great products.</p>
			<a class="primary-btn white" href="#">Tell me more</a>
		</div>
	</div>
</section>

<section class="about" id="about">
	<div class="container">
		<div class="content-panel">
			<h2>It starts with a good idea...</h2>
			<p>...and becomes a mobile app, a website, a tablet or all three and more. We at 100Shapes use our expertise to craft digital experiences that are simple and a joy to use.</p>
			<a class="primary-btn" href="#">See our work</a>
		</div>
	</div>
</section>

<section class="work">
	<div class="moo" id="work">
		<div class="container">
			<div class="content-panel">
				<h2>Testing Moo.com</h2>
				<p>We carried out in-depth usability testing for MOO’s brand new Quick &amp; Easy tool. Working closely with the MOO design team, we crafted, organised one-on-one, in-depth interviews with potential customers and helped the MOO team figure out what was working and what needed a little tweaking.</p>
				<a class="primary-btn" href="{% url moo %}">Read more</a>
			</div>
		</div>
	</div>	
</section>

<section class="contact">
	<div class="container">
		<div class="content-panel">
			<h2 id="contact">How about a chat?</h2>
			<div class="text">
				<p>Get a sense of what 100 Shapes are about and what we could do for you. Why not come in and see us? To arrange a time, email:</p>
				<a href="mailto:hi@100shapes.com" title="hi@100shapes.com" class="email">hi@100shapes.com</a>
			</div>
			<div class="buttons">
				<a href="http://www.facebook.com/100shapes" class="primary-btn facebook"><span>/100shapes</span></a>
				<a href="https://twitter.com/100shapes" class="primary-btn twitter"><span>@100shapes</span></a>
			</div>
		</div>
	</div>
</section>
{% endblock content %}

{% block scripts %}
	{% assets "js_base", "js_home" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}

{% block styles %}
	{% assets "css_base", "css_home" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock styles %}

{% block fullTitle %}100Shapes | design and build apps{% endblock fullTitle %}

{% block pageClass %}home{% endblock pageClass %}
