{% extends "base.html" %}

{% block content %}
<article>
	<address class="vcard author">
		
		<img src="{{ article.author_gravatar.thumbnailUrl }}?s=80">

	</address>

	<h2>{{ article.subtitle }}</h2>
	
	<section class="content">
	{{ article.content }}
	</section>

	<footer>
		{% include 'share_tools.html' %}
		<div class="tags">
			<p>Like what you read? Find some more:</p>
			<ol>
			{% for tag in article.tags %}
				<li>
				<a href="{{ SITEURL }}" title="Design">Design</a>
				</li>
			{% endfor %}
			</ol>
		</div>

		<!-- More Articles -->

	</footer>
</article>
{% endblock %}

{% block pageTitle %}
	{{ article.title }}
{% endblock pageTitle %}

{% block pageHeading %}
 	{{ article.title }}
{% endblock pageHeading %}

{% block pageClass %}{{ super() }}blog article {% if article.class %}{{ article.class }}{% else %}bronze{% endif %}{% endblock pageClass %}

