{% extends "base.html" %}

{% block content %}
<article>
	<address class="vcard author">

		<span class="clip">
			<img class="photo" alt="profile picture of {{ article.author_name }}" src="{{ article.author_gravatar }}?s=72" width="72" height="72">
		</span>
		<span class="fn">{{ article.author_name }}</span>

	</address>

	<h2>{{ article.subtitle }}</h2>
	
	<section class="content" role="main">
	{{ article.content }}
	</section>

	<footer role="complementary">
		{% include 'share_tools.html' with context %}
		
		{% if article.related_posts %}
		<div class="related-articles">
			<h2>More Articles</h2>
			<ol>
		        {% for post in article.related_posts %}
		        <li>
					<article>
						<a href="{{ SITE_URL}}/{{ post.url }}">
							<img alt="{{ post.alt }}" src="{{ ASSET_URL }}/{{ post.slug }}/article_icon.jpg">
							<h3>{{ post.title }}</h3>
			        	</a>
					</article>		        	
		        </li>
		        {% endfor %}
		    </ol>
		</div>
	    {% endif %}


	</footer>
</article>
{% endblock %}

{% block pageTitle %}
	{{ article.title }}
{% endblock pageTitle %}

{% block pageHeading %}
 	{{ article.title }}
{% endblock pageHeading %}

{% block author %}{{ article.author_name }}{% endblock author %}

{% block description %}{{ article.description }}{% endblock description %}

{% block pageClass %}{{ super() }}blog article {% if article.class %}{{ article.class }}{% else %}bronze{% endif %}{% endblock pageClass %}

