{% extends "base.html" %}

{% block content %}
<div class="intro" </div>
	<h1>{{ article.title }}</h1>
	<h4>Posted by <span class="fn">{{ article.author_name }}</span> on <span class="published">{{ article.date }}</span></h4>
</div>

<section class="content">
	<article>
	<h2>{{ article.subtitle }}</h2>

	<section role="main">
	{{ article.content }}
	</section>

	<footer role="complementary">
	{% include 'share_tools.html' with context %}
	<!-- {% if article.related_posts %}
		{% from 'macros.html' import article_list with context %}
		{{ article_list(article.related_posts, 'More Articles') }}
		{% endif %}
 	-->
	</footer>
	</article>

</section>

{% endblock %}

{% block pageTitle %}
	{{ article.title }}
{% endblock pageTitle %}

{% block author %}{{ article.author_name }}{% endblock author %}

{% block description %}{{ article.description }}{% endblock description %}

{% block pageClass %}{{ super() }}blog article {% if article.class %}{{ article.class }}{% else %}bronze{% endif %}{% endblock pageClass %}

