<nav>
	<ol>
		<li>
			<a href="{{ SITE_URL }}/blog/" title="100Shapes Services">who we are</a>
		</li>
		<li>
			<a href="{{ SITE_URL }}/blog/" title="100Shapes Work">work</a>
		</li>
		<li>
			<a href="{{ SITE_URL }}/blog/" title="100Shapes Contact">get in touch</a>
		</li>
		<li class="logo">
			<a href="{{ SITE_URL }}/" title="100Shapes home">100shapes</a>
		</li>
		
		{% for page in pages %}
		<li>
			<a href="{{ SITE_URL }}/{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
		</li>				
		{% endfor %}
	</ol>
</nav>
