<nav>
	<ol>
		<li>
			<a href="{{ SITE_URL }}/" title="100Shapes home"><img src="{{ SITEURL }}/theme/img/logo_small.png"></img></a>
		</li>
		<li>
			<a href="{{ SITE_URL }}/blog/" title="100Shapes blog">blog</a>
		</li>
		<li>
			<a href="{{ SITE_URL }}/blog/" title="100Shapes blog">about</a>
		</li>
		<li>
			<a href="{{ SITE_URL }}/blog/" title="100Shapes blog">contact</a>
		</li>
		{% for page in pages %}
		<li>
			<a href="{{ SITE_URL }}/{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
		</li>				
		{% endfor %}
	</ol>
</nav>
