<nav>
	<ol>
		<li>
			<a href="{{ SITE_URL }}/blog/" title="100shapes Services">about us</a>
		</li>
		<li>
			<a href="{{ SITE_URL }}/blog/" title="100shapes Work">work</a>
		</li>
		<li>
			<a href="{{ SITE_URL }}/blog/" title="100shapes Contact">get in touch</a>
		</li>
		<li class="logo">
			<a href="{{ SITE_URL }}/" title="100shapes home"><img src="{{ SITE_URL }}/theme/img/logo_small_white.png" alt="100shapes"></a>
		</li>
		
		{# {% for page in pages %}
		<li>
			<a href="{{ SITE_URL }}/{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
		</li>				
		{% endfor %} #}
	</ol>
</nav>
