{% extends "page.html" %}



{% block pageDescription %}100Shapes{% endblock %}

{% block content %}
		

<h2 class="we-do"><span>We design for you</span></h2>

<h2 class="hi"><span>Say Hi</span></h2>

<a href="mailto:hi@100shapes.com" title="Email 100Shapes" class="email">hi@100shapes.com</a>
<svg data-speed="0.6" xmlns="http://www.w3.org/2000/svg" version="1.1">



<path style="stroke: #fff;stroke-width: 8;fill: none;" d="M400,300v725c0,70,17,107-142,188c0,0-253,110-253,387c0,238.677,149.23,327.38,309,380.622"/>

<path style="stroke: #fff;stroke-width: 8;fill: none;" d="M487,2003 c 165,61,313,180,313,429c0,288-230,400-294,436s-160,85-160,218"/>

<path style="stroke: #fff;stroke-width: 8;fill: none;" d="M400,1742.967"/>


<footer>
	{% from 'macros.html' import article_list with context %}
	{{ article_list(articles, 'Blog') }}
</footer>

{% block scripts %}
	{% include "jquery.html" %}
	<script src="{{ SITE_URL }}/theme/js/index/main.js"></script>
{% endblock %}

{% endblock content %}

{% block pageTitle %}
	100Shapes
{% endblock pageTitle %}

{% block pageHeading %}100Shapes{% endblock pageHeading %}

{% block pageClass %}index{% endblock pageClass %}
