{% extends "base.html" %}
{% import "share_tools.html" as share_tools %}

{% block pageTitle %}{{ page.title }}{%endblock%}

{% block extraHead %}
	<style type="text/css">
		.promo-box {
			background-image: url("{{ ASSET_URL }}/user-testing/header-promo.jpg");
		}
	</style>
{% endblock extraHead %}


{% block content %}

	

	<div class="promo-box">
		<div class="container">
			<div class="content-panel">
				<h1>{{ page.title }}</h1>
				<p>{{ page.intro }}</p>
			</div>
		</div>
		<img src="">
	</div>

	<div class="content">
		{{ page.content }}

		{{ share_tools.share_tools(SITEURL + page.slug) }}
	</div>

    



{% endblock %}








{% block pageClass %}page{% endblock %}
