@import "vars";

.article {
	
	.intro {
		.makeContainer;
		padding-top: @ws-unit*6.25;

		h1 {
			color: @header-color-pink;
		}
		
		h4 {
			text-transform: uppercase;
			color: @light-grey-color;
			font-size: 10px;
		}
	}

	address.author {
		.clip {
			.rounded(@ws-unit*3);
			display: inline-block;
			height: @ws-unit*9;
			width: @ws-unit*6;
			overflow: hidden;
		}

		.photo {
			max-width: none;
			margin-left: -@ws-unit*1.5;
		}

		.fn {
			display: block;
			margin-top: @ws-unit;
			font-style: normal;
		}
	}
	article {
		margin: 0 auto;
	}
	article h2 {
		margin: @ws-unit*6 0 @ws-unit*4;
	}
	.tags-list {
		margin-top: @ws-unit*3;
		
		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			text-align: center;
		}
		li {
			.rounded(@ws-unit);
			color: #fff;
			float: left;
			padding: @ws-unit/2 @ws-unit;
			list-style-type: none;
			margin: 0 @ws-unit;
			background-color: @light-grey-color;
		}
	}
}