@background-color-light: #eee;
@background-color-dark: #393939;

@font-family-copy: 'Open Sans', sans-serif;
@font-family-headings: Georgia, serif;

@body-copy-color: #aaa;

@link-color-base: #7b285e;
@link-color-hover: @link-color-base;

a {
	font-weight: 600; 
	color: @link-color-base;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
body {
	background-color: @background-color-light;
	margin: 0;
	font-family: @font-family-copy;
	color: @body-copy-color;
	line-height: 1.5;
}
nav {
	background-color: @background-color-dark;
}
h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-headings;
	color: @background-color-dark;
}
