@import "vars";

// Large desktops
@media (min-width: 768px) {
	section.content {
		width: @ws-unit*90;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	section.content {
		padding: 0 @ws-unit*3;
	}
}
//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
@media (max-width: 767px) {

}


// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

}