@import "vars";

// Large desktops
@media (min-width: 768px) {

}

// Responsive: Landscape phone to desktop/tablet
@media (max-width: 767px) {
	.content {
		padding-left: @ws-unit*3;
		padding-right: @ws-unit*3;
		width: auto;
	}
}


// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

}