h1 {
  background-color: #b8316a;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 10rem 0;
}
address.author {
  margin-top: 3rem;
  text-align: center;
}
address.author .clip {
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  border-radius: 1.5rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  height: 4.5rem;
  width: 3rem;
  overflow: hidden;
}
address.author .photo {
  max-width: none;
  margin-left: -0.75rem;
}
address.author .fn {
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
}
article {
  margin: 0 auto;
  width: 45rem;
}
article h2 {
  margin: 3rem 2rem 2rem;
}
.share-tools ol {
  text-align: center;
  margin: 0;
  padding: 0;
}
.share-tools li {
  list-style: none;
  display: inline-block;
  margin: 0 0.5rem;
}
.related-articles article {
  width: 13rem;
}
.related-articles ol {
  margin: 0;
  padding: 0;
}
.related-articles li {
  display: inline-block;
  margin: 0 0.75rem;
  padding: 0;
  list-style-type: none;
  vertical-align: top;
}
.related-articles h3 {
  color: #7b285e;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
}
.share-tools h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
