.article h1 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.article address.author {
  text-align: center;
}
.article address.author .clip {
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  border-radius: 1.5rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  height: 4.5rem;
  width: 3rem;
  overflow: hidden;
}
.article address.author .photo {
  max-width: none;
  margin-left: -0.75rem;
}
.article address.author .fn {
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
}
.article article {
  margin: 0 auto;
}
.article article h2 {
  margin: 3rem 0 2rem;
}
.article .share-tools ol {
  text-align: center;
  margin: 0;
  padding: 0;
}
.article .share-tools li {
  list-style: none;
  display: inline-block;
  margin: 0 0.5rem;
}
.article .share-tools h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.article .share-tools a {
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  border-radius: 4rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: url('../img/social_sprite.png');
  background-repeat: no-repeat;
  display: block;
  height: 48px;
  width: 42px;
}
.article .share-tools a:hover {
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.article .share-tools span {
  display: none;
}
.article .share-tools .share-fb {
  background-position: -3px 0px;
  background-color: #5b78a6;
}
.article .share-tools .share-tw {
  background-position: -54px 0px;
  background-color: #77cced;
}
.article .share-tools .share-pt {
  background-position: -104px 0px;
  background-color: #bf4751;
}
.article .tags-list {
  margin-top: 1.5rem;
}
.article .tags-list ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.article .tags-list li {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  float: left;
  padding: 0.25rem 0.5rem;
  list-style-type: none;
  margin: 0 0.5rem;
  background-color: #cccccc;
}
