.index {
  background-image: url('../img/Background_long.jpg');
  position: relative;
  width: 100%;
}
.index footer {
  display: none;
}
.index .content {
  width: auto;
}
.index svg {
  margin: 0 auto;
  position: absolute;
  width: 800px;
  height: 3000px;
  top: 0;
  left: 50%;
  margin-left: -400px;
}
.index h1 {
  background: none;
  font-family: 'MisoRegular';
  margin-top: 10rem;
}
.index h2 {
  -webkit-transform: skewY(-8deg);
  -moz-transform: skewY(-8deg);
  transform: skewY(-8deg);
  color: #fff;
  font-family: 'MisoRegular';
  outline: 4px solid #fff;
  width: 155px;
  margin: 0 auto;
  padding: 16px 8px;
}
.index h2 span {
  -webkit-transform: skewY(8deg);
  -moz-transform: skewY(8deg);
  transform: skewY(8deg);
  display: block;
}
.index h2.we-do {
  margin-top: 100rem;
}
.index h2.hi {
  margin-top: 60.5rem;
}
.index a.email {
  display: block;
  color: #fff;
  margin-top: 40px;
  text-align: center;
}
.index .article-list {
  background-color: #eeeeee;
  padding: 2.5rem 0 4rem;
  margin-top: 15rem;
}
.index .article-list h2 {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  outline: none;
  padding: 0;
  width: auto;
  color: #666666;
  margin-bottom: 2.5rem;
}
