{% extends "base.html" %}
{% load assets %}

{% block pageDescription %}100Shapes - About Us{% endblock %}

{% block content %}

{% include "includes/global_nav.html" %}
	<header>
		<div class="container">
			<div class="content-panel">
				<div class="with-note orange">
					<span>WORTH A READ</span>
					<h1>About us</h1>
				</div>
				<p>We are a young digital design agency with a passion for creating products of the highest possible quality. We design. We build. We deliver. But that’s not all...</p>
			</div>
		</div>
	</header>
	<div class="content">
		<section>
			<div class="with-note">
				<span>THE SCIENCE BIT</span>
				<h2>What we do</h2>
			</div>
			<p>We’ve made it our mission in life to create brilliant digital products. Every project is different, so we approach each anew and use our expertise to craft digital experiences that are simple and a joy to use. Here’s a few ways we do this.</p>
		</section>

		<div class="columns">
			<section class="">
				<h3>Get it in front of users</h3>
				<p>The sooner the better. We get our products and ideas in front of users as soon as we can. Insights, from real people help us refine and improve our work and ensure they stand the test of time.</p>
			</section>

			<section class="">
				<h3>Fast and efficent</h3>
				<p>We focus on the product by only documenting when we need to. We work in wireframes and prototypes as there’s no better test for integrity than playing with the real thing- however basic.</p>
			</section>

			<section class="">
				<h3>Keep it super simple</h3>
				<p>Life is hectic enough. We obsess over the little things to make our products super clean and super clear. User experience is everything.</p>
			</section>

			<section class="">
				<h3>Homemade</h3>
				<p>We believe that true innovation comes from nurturing your creative side, so when we’re not making products with our clients we’re creating and launching our own. Check out Tweevie.</p>
			</section>
		</div>
	</div>
	<div class="promo-box">
		<div class="container">
			<div class="content-panel">
				<h2>The team</h2>
				<p>We’re made up of a small group of design and development experts who have delivered products for some of the best organisations in our field including Google, the BBC and Intel. Whether it’s for mobile, tablet, desktop or tv our team has the expertise to create products that suit your needs and those of your users.</p>
			</div>
		</div>
	</div>
{% endblock content %}


{% block styles %}
	{% assets "css_base", "css_about" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock styles %}

{% block fullTitle %}100Shapes | design and build apps{% endblock fullTitle %}

{% block pageClass %}about{% endblock pageClass %}
