{% extends "base.html" %}

{% block pageTitle %}User Testing Moo{%endblock%}

{% block content %}
	{% include "includes/global_nav.html" %}
	<header>
		<div class="container">
			<div class="content-panel">
				<div class="with-note orange">
					<span>NEW</span>
					<h1>User Testing Moo</h1>
				</div>
				<p>The guys at MOO are true advocates of user-centred design and, as such, brought us on board to thoroughly test and check their products to get the very best out of them. We tested a wonderfully simple tool that helps non-designer types create beautiful and professional business cards in no time at all. Here’s a little bit about when we got them the best out of usability testing...</p>
			</div>
		</div>
	</header>
	<div class="content">
		<section>
			<div class="with-note">
				<span>THE PROCESS</span>
				<h2>Understanding the goals</h2>
			</div>
			<p>To get the most honest insights out of a testing session, it’s important for us to understand exactly what you want to find out. We spent time getting to know the guys at MOO, talking through the purpose of their new tool and understanding what they wanted to find out. Our testers are all designers themselves, so there’s nothing they enjoy more than critiquing a design and nattering over the merits of a button or two.</p>
		</section>

		<section>
			<h2>Preparation is the key</h2>
			<p>Everyone involved in a creating new product wants to find out something specific from testing. The MOO team put together a list of questions they wanted answers to. That list formed the basis of our discussion guide - a carefully crafted script that our testers use to divulge open and honest reactions from participants. And, of course, practise makes purpose, we always rehearse the test beforehand to make sure it’s natural. Basically, we test the test!</p>
		</section>

		<section>
			<h2>The results</h2>
			<p>To get the most honest insights out of a testing session it’s important for us to understand exactly what you want to find out. We spent time getting to know the guys at MOO, talking through the purpose of their new tool and understanding what they wanted to find out. Our testers are all designers themselves, so there’s nothing they enjoy more than critiquing a design and nattering over the merits of a button or two. <a href="http://uk.moo.com/">MOO.com</a></p>
		</section>
	</div>
	<div class="promo-box">
		<div class="container">
			<div class="content-panel">
				<h2>Try it yourself</h2>
				<p>Usability testing with real users will identify usability problems and highlight ways to improve the user experience. It plays an essential role in our user centred design approach. If you’re looking for a tailor made usability tester, please get in touch.</p>
				<a href="mailto:hi@100shapes.com" class="primary-btn">Get in touch</a>
			</div>
		</div>
	</div>

	{% include "includes/footer.html" %}
{% endblock %}

{% block styles %}
	{% load assets %}
	{% assets "css_base", "css_moo" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock styles %}

{% block pageClass %}case-study moo{% endblock %}
